<div class="container">
  <h2>Poročila</h2>
  <p>
    <a *ngIf="isAuthenticated()" [routerLink]="['/create']" class="btn btn-primary">Dodaj poročilo</a>
  </p>
  <div class="izbira" *ngIf="isAuthenticated()">
    <label for="urejenost" class="mr-2">Filter:</label>
    <select class="form-control"  id="urejenost" [(ngModel)]="filter" (change)="getPorocila()" name="urejenost">
        <option value="vse">Vse</option>
        <option value="opravljene">Opravljene</option>
        <option value="neopravljene">Neopravljene</option>
    </select>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let c of columns">
          {{c}}
        </th>
        <th *ngIf="isAuthenticated()">Izvajalec</th>
        <th *ngIf="isAuthenticated()">Status</th>
        <th *ngIf="!isAuthenticated()">Opravljeno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let porocilo of porocila; let i=index">
        <td >{{i + 1}}</td>
        <td>{{ porocilo.imeStranke }}</td>
        <td>{{ porocilo.priimekStranke }}</td>
        <td>{{ porocilo.lokacijaNesrece }}</td>
        <td>{{ porocilo.vzrokNesrece }}</td>
        <td *ngIf="isAuthenticated()">{{ porocilo.imeIzvajalca }}</td>
        <td id="status" *ngIf="isAuthenticated()" [ngClass]="{'done' : porocilo.opravljenost == true, 'wait' : porocilo.opravljenost == false }">{{ porocilo.opravljenost ? 'Opravljeno' : 'Ni opravljeno'}}</td>
        <td *ngIf="!isAuthenticated()"><ui-switch [checked]="porocilo.opravljenost" (change)="updatePorocilo(porocilo.id, $event)"></ui-switch></td>
      </tr>
    </tbody>
  </table>
</div>
