table{
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

.done {
  color: green;
}

.wait {
  color: red;
}

.izbira {
  float: right;
  margin-bottom: 10px;
}

p {
  display: inline-block;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 3em;
  min-width: 2em;
  max-width: 4em;
}

