<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-home"></i> Domov</a>
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
         Izbran uporabnik: {{ selectedUser ? selectedUser.ime : '/'}}
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
        <div *ngFor="let user of users; let i=index">
          <a class="dropdown-item" (click)="changeUser(user)">
            <i *ngIf="user.tipUporabnika === 'izvajalec'"class="fa fa-user"></i>
            <i *ngIf="user.tipUporabnika === 'operater'"class="fa fa-user-md"></i>
            {{user.ime}}</a>
          <div *ngIf="i != (users.length - 1)" class="dropdown-divider"></div>
        </div>
        </div>
      </div>
    </div>
  </nav>
