<div class="container">
  <h2>Vnos poročila</h2>
  <div class="mt-4">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div id="podatki-stranke" ngModelGroup="userData" #userData="ngModelGroup">
      <div class="form-group">
        <label for="username">Ime</label>
        <input
          type="text"
          id="ime"
          class="form-control"
          ngModel
          name="ime"
          required
        />
      </div>
      <div class="form-group">
        <label for="priimek">Priimek</label>
        <input
          type="email"
          id="priimek"
          class="form-control"
          ngModel
          name="priimek"
          required
        />
      </div>
    </div>
    <div
      id="podatki-nesrece"
      ngModelGroup="accidentData"
      #accidentData="ngModelGroup"
    >
      <div class="form-group">
        <label for="lokacija">Lokacija</label>
        <input
          type="text"
          id="lokacija"
          class="form-control"
          ngModel
          name="lokacija"
          required
        />
      </div>
      <div class="form-group">
        <label for="vzrok">Vzrok nesreče</label>
        <textarea
          class="form-control"
          id="vzrok"
          rows="3"
          name="vzrok"
          ngModel
          required
        ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="izvajalec">Izbira izvajalca</label>
      <select id="izvajalec" class="form-control" ngModel name="izvajalec" #izvajalec="ngModel" required>
        <option *ngFor="let izvajalec of izvajalci" value="{{izvajalec.id}}">{{izvajalec.ime}}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
      Potrdi
    </button>
  </form>
</div>
</div>
